<!DOCTYPE html>
<html>
    <body>
        <h2 style="text-align: center;"> Contact Form</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h2>{{message}}</h2>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% for message in form.name.errors %}
        <div>{{message}}</div>
        {% endfor %}

        {% for message in form.email.errors %}
        <div>{{message}}</div>
        {% endfor %}

        <form action="/contact" method='POST'>
            <fieldset>
                <legend>
                    Contact Form
                </legend>
                {{form.hidden_tag()}}
                <div style="font-size: 20px; font-weight: bold; margin-left: 150px;">
                {{form.name.label}}<br>
                {{form.name}}<br>

                {{form.gender.label}}
                {{form.gender}}
                {{form.address.label}}<br>
                {{form.address}}<br>
                
                {{form.email.label}}<br>
                {{form.email}}<br>

                {{form.age.label}}<br>
                {{form.age}}<br>

                {{form.language.label}}<br>
                {{form.language}}<br>

                {{form.submit()}}
                </div>
            </fieldset>
        </form>
    </body>
</html>